<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="keywords" content="Zhaopeng Wang, Zhaopeng, loyola, full stack developer, Chicago")
    title Zhaopeng Wang| Chicago Full Stack Developer
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel="shortcut icon" href='static/images/Logo.png')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/images/portfolio-350.png')
          .cell.auto

            //- Add your name here.
            h5 Zhaopeng Wang

            //- Add text here to describe who you are, what you do, and why you are so awesome.
            p.text-light
              | I am a recent graduate from Loyola University of Chicago with a Master's degree in the Computer Science.
            p.text-light
              | I am a quick learner who's always interested in expanding my skills.
              | I’m excited to bring my experience and knowledge learnt into real world projects.

            //- Add about page route to the href below. 
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- Add your name here.  This is for the mobile screen sized version.
          span.title-bar-title Zhaopeng Wang
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
